/**
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    /* color: #FFD04B; */
    overflow-x: hidden;
    font-family: '宋体';
    background-color: rgba(233, 236, 236, 0.959);
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a:link{
    color: #FFD04B;
    text-decoration: none;

    /* -webkit-backface-visibility: hidden; */
}
a:visited {color:#FFD04B;background-color:#3d444c;}  /* 已访问链接 */
a:hover {color:white; text-decoration: none;}  /* 鼠标移动到链接上 */
a:active {color:white;}  /* 鼠标点击时 */
li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown-item {
    color: #FFD04B;
  }
input:focus {
    outline: none;
    border-color: #cfdc00;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
    border-radius: 5px;
}